<?php $editor = true?>
<?php include 'views/_header.html'?>
<div class="main">
    <div class="wrap">
        <div class="container-fluid">
            <div class="crumbs_pages">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="crumbs">
                            <a href="index.html">首页</a>
                            >
                            <a href="section.php?sid=<?=$post['section_id']?>">
                                <?=$sections[$post['section_id']]['name']?>
                            </a>
                            >
                            <span><?=$post['subject']?></span>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="post_btns">
                            <a href="#post-form" class="btn btn-info">回复</a>
                            <a href="post-new.php?sid=<?=$post['section_id']?>" class="btn btn-warning">新建</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newpost block">
                <div class="detail">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="userinfo">
                                <div class="avatar">
                                    <img src="static/attaches/1.jpg" alt="">
                                </div>
                                <span class="nickname"><?=$post['publish_by']?></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <div class="post">
                                <div class="post_header clearfix">
                                    <h2><?=$post['subject']?></h2>
                                    <span>#1</span>
                                </div>
                                <div class="meta">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span><?=date('Y-m-d H:i:s', $post['publish_at'])?></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span>浏览数：<?=$post['views']?></span>
                                            <span>回复数：<?=$post['replies']?></span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <?=$post['content']?>
                                </div>
                                <div class="post_menu">
                                    <a href="#post-form">回复</a> <a href="post-edit.html">编辑</a> <a href="">删除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <?php foreach($threads as $i => $thread):?>
                <div class="detail">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="userinfo">
                                <div class="avatar">
                                    <img src="static/attaches/1.jpg" alt="">
                                </div>
                                <span class="nickname"><?=$thread['publish_by']?></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <div class="post">
                                <div class="post_header clearfix">
                                    <span>#<?=$i+2?></span>
                                </div>
                                <div class="meta">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span><?=date('Y-m-d H:i:s', $thread['publish_at'])?></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span>回复数：<?=$thread['replies']?></span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <?=$thread['content']?>
                                </div>
                                <div class="post_menu">
                                    <a href="#post-form">回复</a> <a href="post-edit.html">编辑</a> <a href="">删除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endforeach?>

                <div class="navs_pages">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="post-new.html" class="btn btn-warning">新建主题</a>
                        </div>
                        <div class="col-md-10">
                            <div class="pages">
                                <?=pages($page, $totalPages, $half, 'post.php');?>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detail reply_form">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="userinfo">
                                <div class="avatar">
                                    <img src="static/attaches/1.jpg" alt="">
                                </div>
                                <span class="nickname">
                                    <?php if(isset($_SESSION['user']['username'])):?>
                                        <?=$_SESSION['user']['username']?>
                                    <?php else:?>
                                        请登录
                                    <?php endif?>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <div class="postform">
                                <form action="thread-insert.php" method="post" id="post-form">
                                    <div class="form-group">
                                        <label for="subject">主题：</label>
                                        <input type="text" class="form-control" id="subject" name="subject" value="RE: <?=$post['subject']?>" disabled>
                                    </div>

                                    <div class="form-group">
                                        <label for="content">内容：</label>
                                        <textarea class="form-control" rows="5" id="content" name="content"></textarea>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xs-5 col-md-2">
                                            <label class="sr-only">验证码：</label>
                                            <input type="text" class="form-control" id="authcode" name="authcode" placeholder="验证码">
                                        </div>
                                        <div class="col-xs-7 col-md-10">
                                            <img class="authcod_img" src="authcode.php" onclick="this.src='authcode.php?t='+Math.random()" alt="authcode">
                                        </div>
                                    </div>
                                    <input type="hidden" name="post_id" value="<?=$id?>">
                                    <button type="button" class="btn btn-info">提交</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include 'views/_footer.html'?>